body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.post-meta {
    font-style: italic;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

button:hover {
    background-color: rgb(67, 20, 95);
    color: white;
  }

  #myButton:hover {
    background-color: blue;
    color: white;
  }
  